.contact-form {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    padding: 10px 100px 100px 10px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    /* background-color: red; */
  }
  .heading {
    color: rgb(5, 6, 102);

  }
  .sub-heading{
    color: rgb(167, 167, 167);
    margin-top: -20px;
  }
  .form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    /* font-weight: bold; */
  }
  
  .form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(75, 34, 255);
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .form-button {
    position: relative;
    top: 60px;
    left: 300px;
    background-color: #4710df;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #183074;
  }
  

  